footer{
    background-color: #5f0063;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-top: solid #e100ff;;
    padding-top: 1%;
    padding-bottom: 1%;
  
    margin-top: auto;
}
footer pre{
    color: white;
}